{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@emotion/babel-preset-css-prop",
    "@babel/react",
    "@babel/typescript"
  ]
}
